<h1>My projects</h1>



        <div class="grid">
            <% @user.projects.each do |project| %>
                <% if @user_index %>
                    <figure class="effect-lily">
                    <% user = user_signed_in? ? current_user : project.users.first %>               
                        <%= image_tag(project.screenshot) %>             
                        <%= link_to(user_project_url(user.id, project.id)) do %>     
                            <figcaption>
                                <div>
                                    <h2><span <%= project.title %>></span></h2>
                                    <p<%= link_to project.url %></p>
                                </div>
                            </figcaption>   
                        <% end %>        
                    </figure>
                <% else %>
                    <figure class="effect-lily">  
                        <% user = user_signed_in? ? current_user : project.users.first %>
                        <%= image_tag(project.screenshot) %>             
                        <%= link_to(user_project_url(project.users.first.id, project.id)) do %>
                            <figcaption>
                                <div>
                                    <h2><%= project.title %></h2>
                                </div>
                            </figcaption>   
                        <% end %>        
                    </figure>
                <% end %>
            <% end %>
</div>