<!-- Arguments for the for defined in line 2, had to be written in this manner as it was nested, so 2 arguments required -->
<%= form_for([current_user, @project]) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :screenshot %><br />
    <%= f.text_area :screenshot, placeholder: "Add a link for your screenshot here" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, placeholder: "Add a description of your project here" %>
  </div>
  <div class="field">
    <%= f.label :technologies %><br />
    <%= f.text_area :technologies, placeholder: "Add the technologies you have used to create the project here e.g. HTML5" %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, placeholder: "Add the link to your website here" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

