<h1>Listing projects</h1>

<div class="container-fluid">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-3">
        <div class="card cards">
          <div class="card-body card">
            <div class="container-fluid"><%= image_tag project.screenshot, class:"rounded-circle mx-auto d-block skyline img-fluid", alt:"a screenshot of the project",  width:"50%"%></div>
            <div><%= project.title %></div>
            <div><%= project.description %></div>
            <div><%= project.technologies %></div>
            <div><h6>Project URL</h6> <a href="<%=project.url%>"> <%= project.url %> </a> </div>
            <button><%= link_to 'Show', [project.user, project] %></button>
            <button><%= link_to 'Edit', edit_user_project_path(project.user, project) %></button>
            <button><%= link_to 'Destroy', [project.user, project], :confirm => 'Are you sure?', :method => :delete %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br />

<%= link_to 'New Project', new_user_project_path(current_user.id) %>
