
<!-- column, container of cards -->
<div class="container-fluid">
    <!-- Jumbotron intro -->
    <div class="jumbotron">
        <% if user_signed_in? %>
            <h1 class="display-3">Hello, <%= current_user.first_names %>!</h1>
        <% else %>
            <h1 class="display-3">Hello!</h1>
        <% end %>
        <p class="text-muted MutedJumbo">Welcome to the Sparta Global Project Library</p>
        <hr class="my-4">
        <p class="JumboText">Use this site to upload and view data about your projects! make sure to fill out everything correctly, with a detailed description and a snazzy screenshot. </p>
        <p class="lead">
        <% if user_signed_in? %>
        <a class="btn btn-primary btn-lg" <%= link_to 'Contribute a Project', new_user_project_path(current_user.id) %>
            </a>
        <% end %>
        </p>
    </div>



    <div class="row">
        <div class="card-deck">
            <% @projects.each do |project| %>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="width: 20rem;" class="CardStuff">
                    <div class="card cards">
                        <div class="card-body card">
                            <% if @user_index %>
                                <%= link_to(image_tag(project.screenshot), user_project_url(@user.id, project.id)) %>
                            <% else %>
                                <%= link_to(image_tag(project.screenshot), user_project_url(project.users.first.id, project.id)) %>

                            <% end %>
                              <h4 class="card-title"><%= project.title %></h4>
                                <h6 class="text-muted"><%= link_to project.url %></h6>
                        </div>
                    </div>
                </div>  
            <% end %>
        </div>
    </div>
</div>

